form(action="/login", method="post")
	label Username:
	input(type="text", value="joe", name="username")
	br
	label Password:
	input(type="password", value="password", name="password")
	input(type="submit", value="ok")